<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="mainApp" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag Requester</title>
    <link rel="stylesheet" href="css/tag-requester.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-cloak id="mainBody">
    <!-- Scan Items -->
    <div ng-show="pageState==0">
      <div class='fixed-top'>
        <table>
          <tbody>
            <tr>
              <td>
                <input type='number' placeholder='manually enter UPC' ng-model='manualTag' />
              </td>
              <td>
                <button class='button success' ng-click="addManualTag()">&#43;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='list-scroll'>
        <table>
          <thead>
            <th>Tag List</th>
            <th></th>
          </thead>
          <tbody ng-repeat="tag in tags">
            <tr>
              <td>{{tag}}</td>
              <td>
                <button class='button alert' ng-click="remove(tag)">&#x2716;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class='button fixed-bottom' ng-click="toStoreSelection()">&#8594; next</button>
    </div>
    <!-- Details -->
    <div class='details' ng-show="pageState==1">
      <button class='button alert' ng-click="pageState=0">&#8634; back to scan</button>
      <h2>name</h2>
      <input type="text" placeholder='request name' ng-model="requestName" id="requestName" />
      <h2>store</h2>
      <select ng-options="store as store for store in stores" ng-model="selectedStore">
      </select>
      <h2>request type</h2>
      <select ng-model="requestType">
        <option value="tag">tag request</option>
        <option value="block">block request</option>
        <option value="other">other request</option>
      </select>

      <button class='button success submit' ng-click="submit()">&#8618; submit</button>
    </div>

    <script>

    var showWarning = true;

    if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
            FastClick.attach(document.body);
        }, false);
    }

    window.onbeforeunload = function(){
        if(showWarning){
          return "The tag request currently in progress will not be saved.";
        }
    };

    function onScan(ev){
      angular.element(document.getElementById('mainBody')).scope().scan('' + ev.data.value);
      WebBarcode.Linea.emitTones([
        { "tone":523, "duration":75 },
        { "tone":659, "duration":75 },
        { "tone":783, "duration":75 }
      ]);
      //WebBarcode.playSoundID(1050);

    }

    document.addEventListener("BarcodeScanned", onScan, false);

    </script>

  </body>
</html>
